<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdfu5h2tlIm04woT8S9_Okf__RU85R7P0</string>
	<key>GCM_SENDER_ID</key>
	<string>323388033463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-5b0a8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-5b0a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323388033463:ios:9f2567135d44a247920032</string>
</dict>
</plist>